.center {
    height: 100vh;
    width: 100vw;
}
body {
    overflow: hidden;
}

#info {
    text-align: center;
    vertical-align: bottom;
    line-height: 50vh;
    font-size: 30px;
}

#date {
    text-align: center;
    vertical-align: top;
    font-size: 30px;
}